.mission_container {
  padding: 1rem 5rem;
}

.table_container {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
}

.table_container thead tr {
  color: black;
  text-align: left;
  font-weight: bold;
  border: 1px solid #f0f0f0;
}

.table_container th,
.table_container td {
  padding: 12px 15px;
  border-right: 1px solid #f0f0f0;
}

.table_container tbody tr {
  border: 1px solid #f0f0f0;
}

.table_container tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.tbody_header {
  max-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: bold;
}

.table_container tbody td span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(14, 44, 44);
  padding: 5px 10px;
  border-radius: 5px;
  color: #f0f0f0;
}

.table_container tbody td .active_member {
  background-color: rgb(17, 166, 192);
  color: white;
}

tbody tr td button {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 7px 0;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
}

tbody tr td .leave-mission {
  border: 1px solid red;
  color: red;
  text-align: center;
}

.body_description {
  max-width: 800px;
  color: black;
}

@media screen and (max-width: 768px) {
  .mission_container {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .mission_container {
    padding: 1rem 2rem;
  }

  .table_container {
    width: 100%;
    display: flex;
  }

  .table_container thead th:last-child {
    margin-top: 240px;
  }

  .table_container thead tr {
    display: flex;
    flex-direction: column;
  }
  
  .table_container tbody tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .tbody_header {
    max-width: 100%;
    font-size: 1.1rem;
  }
}
