* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rocket-container {
    width: 90%;
    margin: 30px auto;
}

.rocket {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}

.rocket img {
    width: 270px;
    object-fit: cover;
}

.rocket .rocket-detail h2 {
    font-weight: 500;
}

.rocket .rocket-detail p {
    margin: 8px 0;
}

.rocket .rocket-detail button {
    border: none;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    background-color: #3f6cff;
}

.rocket .rocket-detail button:hover {
    cursor: pointer;
}